%h1
  Remove Guest Comment
%p
  Are you sure you want to
  %strong.warning
    permanently remove
  the following guestbook?
%table#links.index{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
  %tbody
    %tr.node.level-1
      %td.guestbook
        = image('guestbooks/guestbook', :alt => 'guestbook-icon')
        = h @guestbook.author
- form_tag do
  %p.buttons
    %input.button{ :type => "submit", :value => "Delete Guestbook" }
    or
    = link_to 'Cancel', guestbook_index_url
